{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <div class="card my-5">
            <div class="card-body">
                <h5 class="card-title">401 Unauthorized</h5>
                <p class="card-text">You are not authorized to access this page</p>
                <a href="{{ path('home_page') }}" class="btn btn-primary">Go back</a>
            </div>
        </div>
    </div>
{% endblock %}